@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Sistema de Classificação Documental</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">


    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/node_modules/material-design-lite/material.min.css">
    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="~/node_modules/jquery/dist/jquery.min.js" asp-append-version="true"></script>



    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="mdc-typography demo-body">
    <div>
        @Html.Partial("_Header")
    </div>
    <div class="system-content">
        @Html.Partial("_MenuEsquerdo")
        <div class="right-content mdc-toolbar-fixed-adjust">
            @Html.Partial("_FeatureBar")
            <main class="system-main">
                @*<div id="loading" style="display:none;margin-right: auto;margin-left: auto">
                        <div class="mdl-grid" style="text-align: center;">
                            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                <div class="mdl-spinner mdl-js-spinner is-active"></div>
                            </div>
                        </div>
                    </div>*@
                <div id="notificacao" class="mdl-js-snackbar mdl-snackbar">
                    <div class="mdl-snackbar__text"></div>
                    <button class="mdl-snackbar__action" type="button" id="BotaoDescartar"></button>
                </div>
                <div class="mdl-grid" id="DivConteudo">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="~/node_modules/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/node_modules/material-components-web/dist/material-components-web.min.js" asp-append-version="true"></script>
    <script src="~/node_modules/material-design-lite/material.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <environment names="Development">
        <script src="~/sw-register.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/sw-register.js" asp-append-version="true"></script>
    </environment>


    <script>
        _messages = [];
    </script>

</body>
</html>
