@model  Prodest.Scd.Presentation.ViewModel.PlanoClassificacaoViewModel

<form asp-controller="PlanoClassificacao" asp-action="@Model.Action" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#DivConteudo">
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid mdl-cell--top">
        <div class="mdl-card TelaCheia mdl-grid">
            <div class="mdl-card__actions ItemCardFormulario">
                <button title="Salvar" class="mdl-button mdl-js-button mdl-button--fab mdl-color--grey BotaoGrande" type="submit">
                    <i class="material-icons">save</i>
                </button>
                <button title="Cancelar" class="mdl-button mdl-js-button mdl-button--fab mdl-color--red BotaoAjax BotaoGrande" data-url="/PlanoClassificacao/List">
                    <i class="material-icons">cancel</i>
                </button>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <input hidden asp-for="entidade.Id" />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" asp-for="entidade.Codigo" readonly="@Model.EncerrarDataVigencia" />
                    <label class="mdl-textfield__label" asp-for="entidade.Codigo">Código..</label>
                    <span asp-validation-for="entidade.Codigo" class=""></span>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input asp-for="entidade.Descricao" class="mdl-textfield__input" type="text" readonly="@Model.EncerrarDataVigencia" />
                    <label class="mdl-textfield__label" for="entidade.Descricao">Descrição..</label>
                    <span asp-validation-for="entidade.Descricao" class=""></span>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="entidade_AreaFim">
                        <input type="checkbox" asp-for="entidade.AreaFim" class="mdl-checkbox__input" onclick="return @((!Model.EncerrarDataVigencia).ToString().ToLower()) ;" >
                        <span class="mdl-checkbox__label">Área Fim?</span>
                    </label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" asp-for="entidade.InicioVigencia" readonly="@Model.EncerrarDataVigencia"  />
                    <label class="mdl-textfield__label" for="dataInicioVigencia">Data Início de Vigência..</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" asp-for="entidade.FimVigencia" />
                    <label class="mdl-textfield__label" for="dataFimVigencia">Data Fim de Vigência..</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" asp-for="entidade.Aprovacao" readonly="@Model.EncerrarDataVigencia" />
                    <label class="mdl-textfield__label" for="entidade.Aprovacao">Data Aprovação..</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" asp-for="entidade.Publicacao" readonly="@Model.EncerrarDataVigencia" />
                    <label class="mdl-textfield__label" for="dataPublicacao">Data Publicação..</label>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    _messages = @Html.Raw(Json.Serialize(Model.Result.Messages));
    $('#span_feature_title').html("Plano de Classificação");
</script>